librosa==0.10.2.post1
gunicorn==23.0.0
numpy==1.26.4
torch==2.4.1
speechbrain==1.0.1
scikit-learn==1.5.2
noisereduce==3.0.2
soundfile==0.12.1
SpeechRecognition==3.10.4
ipython==8.27.0
tensorflow==2.17.0
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.17